// Specific CSS for your home-page
.home-container {
  display: flex;
  justify-content: space-around;
}

#home-book {
  background-color: $violet;
  .btn-cards {
    position: absolute;
  }
}

#home-rent {
  background-color: $lavande;
  .btn-cards {
    position: absolute;
  }
}
#h1-home {
  text-align: center;
}

.title-box {
  text-align: center;
  margin-bottom: 40px;
}