<div class="container">
  <div class="col-8 offset-2">
    <div class="cards-container">
      <% @flats.each do |flat| %>
        <div class="card-flat">
          <h3><%= link_to flat.name, flat_path(flat) %></h3>
          <p><%= flat.tag_list %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
