<div class="container">
  <h1><%= @booking.flat.name %></h1>
  <p><%= @booking.start_date %></p>
  <p><%= @booking.end_date %></p>
  <p>----------------------</p>
  <p><%= @booking.guest_count %> persones</p>
</div>