
<div class="container">

    <div class="card-container">
      <h1>My flats</h1>
        <%= render "shared/cards_flat_list", flat: @flats %>
    </div>


  
    <div class="card-container">
      <h1>My bookings</h1>
        <div class="cards-box">
          <% @bookings.each do |booking| %>
            <%= render "shared/cards_booking_list", booking: booking %>
          <% end %>
        </div>
    </div>
    <%#= render "form", flat: @flat %>
</div>
