.cards-box {
  display: grid;
  grid: repeat(2, 230px)/auto-flow 275px;
  .card-flat {
    background-color: #8ca0ff;
    width: 240px;
    height: 200px;
  }
}

.card-flat {
  padding: 3px;
  border-radius: 2px;
  margin: 15px;
  width: 250px;
  height: 200px;
  // background: #ffefa2;
  box-shadow: 1px 1px 1px #c6d0cc87;
}


.card-flat {
    width: 250px;
    height: 200px;
}


.cards-row {
  justify-content: space-around;
}

.title-card {
  a {
    color: #009688;
  }
}
