.flat-form {
  color: $lavande;
  background: #b991ff1f;
  padding: 20px;
  box-shadow: 1px 1px 2px #f4f4f4;
  border-radius: 4px;
  .form-control {
    border: 1px solid $lavande;
    box-shadow: 1px 1px 2px $lavande;
  }
}