
.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
    background: $green;
    color: $violet;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  display: flex;
  .fas {
    font-size: 30px;
    align-items: center;
    transition: color 250ms;
    transition-timing-function: ease;
     &:hover {
      color: $blue_gray;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  li.nav-item.dropdown {
    padding: 4px 15px;
  }
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-light .navbar-nav .nav-link {
    color: $violet!important;
    padding: 7px 15px;
    transition: color 250ms;
    transition-timing-function: ease;
     &:hover {
      color: $blue_gray!important;
    }
}

a.dropdown-item {
  color: $violet;
}