
.navbar.navbar-expand-sm.navbar-light.navbar-lewagon {
    background: #94ebcd;
    color: #ffefa1;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  display: flex;
  .fas {
    font-size: 30px;
    align-items: center;
     &:hover {
      font-size: 32px;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  li.nav-item.dropdown {
    padding: 4px 15px;

  }
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-light .navbar-nav .nav-link {
    color: #ffefa1!important;
    padding: 7px 15px;
     &:hover {
      color: #195a53!important;
    }
}
