// body {
//   background-color: #6ddccf;
// }
h1 {
  margin-bottom: 30px;
  color: $violet;
}

h2 {
  color: $green;
}

h3 {
  font-size: 22px;
  color: $lavande;
}

h4 {
  font-size: 18px;
  color: white;
}

p {
  font-size: 16px;
  margin: 0px;
  color: white;
}

ul {
  list-style: none;
}

.bar-top {
  position: relative;
  height: 65px;
}

a {
  text-decoration: none!important;
}